<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div id="wrapper">
        
            <h2 id="title" class="center">
                Test Title 2021
            </h2>
            <h1 id="random_word" class="center">
                Test Word 2021 
            </h1>
        
        
        <input type="submit" value="Generate" id="submit_button" class="center">
    </div>
</body>
</html>